/* Portfolio Project CSS */
body {
  background-color: #5a5b5b
}

#nav-bar {
  background-color: #af7b7b;
  min-height: 25px;
  width: 70%;
  border-radius: 10px;
  margin: auto;
  text-align: center;
}

div {
  padding: 10px;
  margin: auto;
}

a {
  color: #000000;
}

img {
  width: 150px;
  border-radius: 50%;
  border: 1px dashed #8ee28a;
  margin: auto;
  }

h1 {
    font-family:  Verdana, sans-serif;
    color: #4286f4;
    text-align: center;
    text-shadow: 2px 2px black;
  }

h2 {
    font-family: Verdana, sans-serif;
    color: #000000;
    border-bottom: 1px dashed #000000;
  }

  h3 {
    color: #FFFFFF;
  }

p {
    font-family: Arial, sans-serif;
    margin: 2px;
  }

  footer {
    font-size: .75em;
    font-family: Verdana, sans-serif;
    color: #000000;
    text-align: center;
  }

.nav-a {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  padding-right: 20px;
  text-decoration: none;
}

#hidden-text {
  color: #FFFFFF;
}

#hidden-box {
  background-color: #FF0000;
  opacity: 0;
  border: 2px dashed #eeff3d;
}

.content-box {
    background-color: #8ee28a;
    height: auto;
    width: 70%;
    border-bottom: 3px solid black;
    border-radius: 10px;
}

.spacer {
  height: auto;
  width: auto;
  opacity: 0;
}

.not-so-hidden {
  background-color: #FF0000;
  border: 2px dashed #eeff3d;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
