body {
  background: url('diagmonds.png');
}

small {
  font-family: 'Arsenal';
}

nav {
  margin-top: 25px;
}

footer {
  border-top: 2px #000000 solid;
  border-radius: 25px;
  background: url('dark_embroidery.png');
  margin-bottom: 25px;
}

li {
  font-weight: bold;
}

a {
  font-weight: normal;
  color: lightgreen;
  text-shadow: 1px 1px #000000;
}

footer p {
  font-weight: bolder;
  margin-top: 15px;
}

footer img {
  height: 30px;
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  font-family: 'Indie Flower', sans-serif;
  font-size: 45px;
}

h2, h4, p {
  color: #000000;
}

#top-bar {
  display: inline;
}

.me {
  width: 75px;
}

#first-panel, #second-panel {
  background: url('swirl_pattern.png');
  background-position: center;
  border-radius: 25px;
  max-width: auto;
}

.jumbotron {
  background: url('http://i.imgur.com/OPv1i.jpg');
  background-position: top;
  margin: 12px;
  color: #ffffff;
}

 .my-square-pics {
   border-radius: 35px;
   margin: 15px;
   float: right;
   height: 165px;
   width: 165px;
 }
